@keyframes changeColor{
    0% {background-color: purple; width: 200px; height: 200px; left: 0%; top: 50%;}
    25% {background-color: red; width: 50px; left: 25%; top: 0%; }
    60% {background-color: red; width: 50px; height: 50px; border-radius: 50%; left: 50%; top: 50%;}
    100% {background-color: blue; width: 1900px; height: 913px; left: 0%; top: 0%;}
}

.container{
    height: 913px;
}

.box{
    position: relative;
    background-color: purple;
    width: 200px;
    height: 200px;
    border-style: solid;
    animation-name: changeColor;
    animation-duration: 10s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
}

.box1{
    display: inline-block;
    padding: 20px;
    background-color: #428bca;
    color: #fff;
    font-size: 30px;

    transition-property: background-color, padding;
    transition-duration: 500ms;
}

.box1:hover{
    background-color: #2248ca;
    padding: 30px;
}