@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');
body{
    text-align: center;
    background-image: linear-gradient(to left,#000000 ,#7c7c7c);
}

h1, h2, h3{
    font-family: 'Shadows Into Light', Arial, Helvetica, sans-serif;
    color: white;
}

h3{
    display: none;
    margin-left: 50px;
    margin-right: 50px;
}

input{
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: none;
    background-color: black;
    color: white;
}

.jogador1, .jogador2{
    display: inline-block;
}

.square{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: cblack;
    border: 2px solid white;
    border-radius: 10%;
}

.o{
    position: relative;
}

.o:after{
    position: absolute;
    content: "\1F534";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.x{
    position: relative;
}

.x:after{
    position: absolute;
    content: "\274C";
    font-size: 50px;
    line-height: 100px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}